# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
[Bb]in/
[Oo]bj/

# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Rider
.idea/

# SQLite Database
*.db
*.db-journal
*.db-shm
*.db-wal

# User-specific files
appsettings.Development.json

# NuGet
*.nupkg
**/packages/*
!**/packages/build/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store
.AppleDouble
.LSOverride
